@import 'tailwindcss';
@import 'tw-animate-css';

@variant dark (&:where(.dark, .dark *));

:root {
	--background : oklch(1.000 0 0);
	--foreground : oklch(0 0 0);

	--primary-50	     : oklch(0.9325 0.0335 285.75);
	--primary-100		 : oklch(0.8825 0.0620 290.20);
	--primary-200	     : oklch(0.7695 0.1275 290.75);
	--primary-300		 : oklch(0.6780 0.1790 286.10);
	--primary-400		 : oklch(0.5740 0.2405 281.00);
	--primary-500		 : oklch(0.5015 0.2825 274.50);
	--primary-600		 : oklch(0.4450 0.299390 267.035);
	--primary-700		 : oklch(0.3675 0.2475 266.90);
	--primary-800		 : oklch(0.2800 0.185 268.45);
	--primary-900		 : oklch(0.1945 0.1245 272.45);
	--primary-950		 : oklch(0.1335 0.0825 277.15);
	--primary-foreground : oklch(1.000 0 0);
}

.dark {
		--background : oklch(0.160 0 0);
		--foreground : oklch(1.000 0 0);

		--primary-50	     : oklch(0.9325 0.0335 285.75);
		--primary-100		 : oklch(0.8825 0.0620 290.20);
		--primary-200	     : oklch(0.7695 0.1275 290.75);
		--primary-300		 : oklch(0.6780 0.1790 286.10);
		--primary-400		 : oklch(0.5740 0.2405 281.00);
		--primary-500		 : oklch(0.5015 0.2825 274.50);
		--primary-600		 : oklch(0.4450 0.299390 267.035);
		--primary-700		 : oklch(0.3675 0.2475 266.90);
		--primary-800		 : oklch(0.2800 0.185 268.45);
		--primary-900		 : oklch(0.1945 0.1245 272.45);
		--primary-950		 : oklch(0.1335 0.0825 277.15);
		--primary-foreground : oklch(1.000 0 0);
}

@theme {
	--color-background : var(--background);
	--color-foreground : var(--foreground);

	--color-primary			   : var(--primary-500);
	--color-primary-50		   : var(--primary-50);
	--color-primary-100		   : var(--primary-100);
	--color-primary-200		   : var(--primary-200);
	--color-primary-300		   : var(--primary-300);
	--color-primary-400		   : var(--primary-400);
	--color-primary-500		   : var(--primary-500);
	--color-primary-600		   : var(--primary-600);
	--color-primary-700		   : var(--primary-700);
	--color-primary-800		   : var(--primary-800);
	--color-primary-900		   : var(--primary-900);
	--color-primary-950		   : var(--primary-950);
	--color-primary-foreground : var(--primary-foreground);

	--font-sans : var(--font-satoshi);

	--text-2xs : .595rem;
}

body {
	font-family : var(--font-satoshi);
	font-feature-settings: 'ss03' 1, 'ss04' 1;

	::selection {
		color      : var(--color-white);
		background : var(--color-primary);
	}
}
